<a href="https://colab.research.google.com/github/PrathamVashisht26/Machine-Learning-Project/blob/main/Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
mv_data = pd.read_csv('imdb_movies.csv')
mv_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10178 entries, 0 to 10177
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   names       10178 non-null  object
 1   date_x      10178 non-null  object
 2   score       10178 non-null  float64
 3   genre       10093 non-null  object
 4   overview    10178 non-null  object
 5   crew        10122 non-null  object
 6   orig_title  10178 non-null  object
 7   status      10178 non-null  object
 8   orig_lang   10178 non-null  object
 9   budget_x    10178 non-null  float64
 10  revenue     10178 non-null  float64
 11  country     10178 non-null  object
dtypes: float64(3), object(9)
memory usage: 954.3+ KB

In [3]:
mv_data.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US

In [ ]:
# prompt: Using dataframe mv_data: Heat Map

import seaborn as sns
import matplotlib.pyplot as plt

# Assuming you want a heatmap of the correlation between numerical columns
# Select only the numerical columns
numerical_cols = mv_data.select_dtypes(include=['number'])

# Calculate the correlation matrix
correlation_matrix = numerical_cols.corr()

# Create the heatmap
plt.figure(figsize=(12, 10))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix of Numerical Features')
plt.show()

In [ ]:
mv_data.sample(5)

In [ ]:
mv_data.info()

In [ ]:
missing_value = mv_data.isnull().sum()
print("Missing values per column is: ")
print(missing_value[missing_value>0])

In [ ]:
# prompt: fill the missing values in the genre and crew section with 'unknown'

mv_data['genre'] = mv_data['genre'].fillna('unknown')
mv_data['crew'] = mv_data['crew'].fillna('unknown')

In [ ]:
mv_data['genre'].value_counts()
mv_data['orig_lang'].unique()

In [ ]:
# prompt: how many movies are there in each genre

# Group by genre and count the number of movies in each genre
genre_counts = mv_data.groupby('genre')['names'].count()

# Print the results
genre_counts

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.histplot(mv_data['score'], bins = 20, kde=True)
plt.title('Distribution of Movie Scores')
plt.xlabel('Score')
plt.ylabel('Frequency')
plt.show()

In [ ]:
sns.scatterplot(x=mv_data['budget_x'], y=mv_data['score'])
plt.xlabel('Budget')
plt.ylabel('Score')
plt.title('Budget vs. Score')
plt.show()

In [ ]:
mv_data['genre'].value_counts().head(10).plot(kind='bar')
plt.title('Top 10 Genres')
plt.xlabel('Genre')
plt.ylabel('Count')

Genre with highest average rating

In [ ]:
mv_data.groupby('genre')['score'].mean().sort_values(ascending=False)

In [ ]:
mv_data['genre'] = mv_data['genre'].apply(lambda x: x.split(', ') if isinstance(x, str) else ['unknown'])

In [ ]:
# prompt: Write a code in which I can know how in which year most number of movies were released

# Convert the 'year' column to datetime objects if it's not already
mv_data['date_x'] = pd.to_datetime(mv_data['date_x'], errors='coerce').dt.year

# Group by year and count the number of movies released in each year
year_counts = mv_data.groupby('date_x')['names'].count()

# Find the year with the most movie releases
year_with_most_movies = year_counts.idxmax()

print(f"The year with the most movie releases is: {year_with_most_movies}")

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
mv_data['overview'] = mv_data['overview'].fillna('')
vectorizer = TfidfVectorizer(stop_words='english', max_features=5000)
X = vectorizer.fit_transform(mv_data['overview'])
y = mv_data['genre']

In [ ]:
"""from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = MultinomialNB()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Model Accuracy: {accuracy * 100:.2f}%")
print(classification_report(y_test, y_pred))
mv_data['sentiment'] = model.predict(X)"""

In [ ]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
y = mlb.fit_transform(mv_data['genre'])

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
mv_data['budget_scaled'] = mv_data['budget_x']/mv_data['budget_x'].max()
X_new = mv_data[['overview', 'budget_scaled']]
y_new = mv_data['score']>=7
X_train, X_test, y_train, y_test = train_test_split(X_new, y_new, test_size=0.2, random_state=42)
model = RandomForestClassifier(n_estimators=100)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(f"success Prediction Accuracy : , {accuracy_score(y_test, y_pred) * 100:.2f}%")